html{
  width:100%;
  height:100%;

}
h1{
  text-align:center;
}

body{
  text-align:center;
}
h3{
  padding-top: none;
}
p{
  padding-top: none;
}

.rock-button{
    cursor:pointer;
}


.paper-button{
  cursor: pointer;
}


.scissors-button{
  cursor: pointer;
}

.row{
  display:flex;
  justify-content: space-evenly;
}
.column{
  padding: 5px;
}
